#p_faq {
  #faq {
    margin: 200px 0;

    position: relative;
    min-height: 1400px;
    @media screen and (max-width: 420px) {
      margin: 100px 0;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      background:
        url("/b/pt-minidot.png"), linear-gradient(to bottom, #ffa5ab, #f9dbbd);
      // mask-image: linear-gradient(to bottom, transparent, white 300px, white);
      mask-image: url("/d/faqmask.png");
      mask-size: 100% 100%;
      z-index: -100;
      @media screen and (max-width: 420px) {
        mask-image: linear-gradient(to bottom, transparent, white 300px, white);
      }
    }

    .fh {
      margin-top: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      .chib {
        max-height: 600px;
        margin-top: -200px;
        object-fit: contain;
        @media screen and (max-width: 768px) {
          max-width: 70%;
          margin: 0 auto;
        }
      }
      .text {
        width: min(1280px, 90%);
        padding-bottom: 1em;

        &.mobile {
          display: none;
        }
        @media screen and (max-width: 550px) {
          display: none;
          &.mobile {
            display: block;
          }
        }
      }
      .desc {
        max-width: 700px;
        margin: 0 auto;
        color: #a53961;
        font-size: 2rem;
        padding-bottom: 100px;
        @media screen and (max-width: 550px) {
          text-align: left;
          padding-inline: 1em;
        }
        @media screen and (max-width: 420px) {
          font-size: 1.2rem;
        }
        a {
          color: #450920;
          text-decoration: underline;
        }
      }
    }

    .faq-cat {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1em;
      @media screen and (max-width: 1024px) {
        width: 100%;
        overflow-x: auto;
        justify-content: left;
        margin: 50px 0;
      }
      .btn-fq {
        background: #d77189;
        color: white;
        font-family: var(--fontH);
        font-size: 1.7rem;
        padding: 0.25em 1em;
        border-radius: 1em;
        // S
        &.s {
          background: linear-gradient(
            to bottom,
            #d77189,
            #d77189 46%,
            #a53961 72%
          );
          border: 4px solid #450920;
          color: #ffcf9f;
        }
      }
    }

    .fl {
      display: flex;
      flex-direction: column;
      gap: 1em;
      max-width: 900px;
      margin: 0 auto;
      padding: 2em;
      @media screen and (max-width: 420px) {
        padding: 0em;
      }
      .question {
        border-radius: 1em;
        background: #a53860;

        border: 4px solid #450920;
        &.c {
          border: 0px;
          .a {
            max-height: 0px;
            opacity: 0;
            padding: 0;
            margin: 0;
          }
          .q {
            .btn-drop {
              rotate: 0deg;
            }
          }
        }
        .a {
          padding: 1em;
          background: url("/b/pt-dot25.png"), #da627d;
          background-size: 150px;
          border-radius: 0 0 1em 1em;
          margin: 0.5em;
          font-size: 1.4rem;
          overflow: hidden;
          max-height: 800px;
          overflow-y: auto;
          transition: all 500ms ease;
          @media screen and (max-width: 420px) {
            font-size: 1.2rem;
          }
          .payload-richtext {
            @media screen and (max-width: 420px) {
              font-size: 1.2rem;
            }
            a {
              color: #f9dbbd;
            }
            p {
              margin-bottom: 1em;
            }
            ol,
            ul {
              padding-left: 1em;
              color: #f9dbbd;
              font-weight: bold;
            }
          }
        }
        .q {
          display: flex;
          padding: 0.6em 1em;
          color: #ffcf9f;
          font-family: var(--fontH);
          display: flex;
          justify-content: space-between;
          font-size: 1.4rem;
          p {
            -webkit-text-stroke: 1px #310a199a;
            text-shadow: 0px 2px 4px rgba(51, 7, 7, 0.616);
          }
          @media screen and (max-width: 420px) {
            font-size: 1.25rem;
          }
          flex-shrink: 0;
          align-items: center;
          .btn-drop {
            flex-shrink: 0;
            aspect-ratio: 1 / 1;
            width: 40px;
            padding: 0em;
            // padding: 0em;
            rotate: 90deg;
            svg {
              width: 100%;
              height: 100%;
            }
          }
        }
        &:nth-child(even) {
          background: #5c102d;
        }
        &:nth-child(odd) {
          .q {
            p {
              color: #fd7a3d;
            }
          }
        }
        .a {
          color: white;
        }
      }
    }
  }
  .bunnyrow {
    width: 100%;
    height: 300px;
    background: url("/b/bunnyrow.png");
    background-repeat: repeat-x;
    margin-block: 50px;
    animation: bgmove 150s infinite linear;
    @keyframes bgmove {
      from {
        background-position-x: 20000px;
      }
      to {
        background-position-x: 0%;
      }
    }
  }
}

body:has(#p_faq) {
  #footer {
    margin-top: 0;
  }
}
