:root {
  scroll-behavior: smooth;
  cursor: url("/cursor/normal.png"), auto;

  --pointer: url("/cursor/pointer.png"), pointer;
}

body {
  --yellow: #f9dbbd;
  --pink: #ffa5ab;
  --dark: #450920;
}
body:has(main.afterdark) {
  background: #fed19712;
  --yellow: #5c2e76;
  --pink: #a53860;
  --dark: #b52a04;
  --byellow: #f6bd00;
  --grad: linear-gradient(-40deg, #ffd498, #ea7c95 70%, #5c2e76);
}

::selection {
  background: var(--dark) 81;
  color: white;
}
html,
body {
  max-width: 100vw;
  position: relative;
  overflow-x: clip;
  font-smooth: always;
  text-rendering: geometricPrecision;
  &:has(::selection) {
    cursor: url("/cursor/text.png"), text;
  }
}

body {
  background: #fffafa;
  transition: all 500ms ease;
  font-family: var(--fontP);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--fontH);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes speen {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

button {
  padding: 0;
  outline: none;
  border: none;
  background: none;
  text-decoration: none;
  color: black;
}

.btn {
  cursor: url("/cursor/pointer.png"), pointer;
  transition: all 200ms ease;
  &:hover {
    scale: 1.05;
  }
  &:active {
    scale: 0.95;
  }
}

strong {
  filter: brightness(90%);
}
.btn-main {
  border: 4px solid var(--dark);
  background:
    url("/b/pt-dot.png"), linear-gradient(to bottom, var(--yellow), var(--pink));
  background-size: 100px, auto;
  font-size: 1.7rem;
  color: #a53860;
  padding: 0.25em 2em;
  display: flex;
  border-radius: 1em;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.15em;
  &:hover {
    box-shadow: 0px 0px 20px var(--pink);
  }
  font-weight: bold;
  justify-content: center;
}
.btn-nav {
  background: linear-gradient(to right, #ffffff, var(--yellow));
  border: 4px solid var(--dark);
  color: var(--dark);
  padding: 0.25em 1em;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    0px 5px 0px var(--dark),
    2px 5px 0px #d77189;
  &:hover {
    box-shadow: 0px 7px 0px var(--dark);
    transform: translateY(-5px);
  }
  &:active {
    box-shadow: 0px 2px 0px var(--dark);
    transform: translateY(5px);
  }
}
.ctbtn {
  display: flex;
  gap: 1em;
  padding: 1em 0;
  .btn-nav {
    padding: 0.2em;
    width: 60px;

    svg {
      width: 100%;
      height: 100%;
      scale: 1.2;
    }
    padding: 0.75em;
    height: 60px;
  }
}

// Onkey After Dark

body:has(main.afterdark) {
  .btn-nav {
    background: linear-gradient(-40deg, #ffd498, #ea7c95 70%, #5c2e76);
    outline: 5px solid var(--byellow);
  }
  .premade {
    filter: brightness(90%) hue-rotate(-30deg);
  }
}
