.hbunny {
  --ranPos: 70%;
  user-select: none;
  pointer-events: none;
  position: fixed;
  z-index: 2000;
  translate: -50% 0%;
  &.l {
    left: 0%;
    rotate: 90deg;
    bottom: var(--ranPos);
  }
  &.b {
    bottom: -100px;
    left: var(--ranPos);
  }
  &.r {
    right: -200px;
    rotate: -90deg;
    bottom: var(--ranPos);
  }
  &.t {
    rotate: 180deg;
    top: -200px;
    left: var(--ranPos);
  }
  .bunny {
    @media screen and (max-width: 550px) {
      width: 120px;
      height: 120px;
    }
    user-select: none;
    pointer-events: none;
    z-index: 1000;
    width: 220px;
    height: 220px;
    object-fit: contain;
    animation: hopping 1.5s ease;
    opacity: 0;
    @keyframes hopping {
      from {
        transform: translateY(100px) translateX(200px);
        opacity: 1;
        scale: 0.5 1;
      }
      60% {
        scale: 1.2 1;
        opacity: 1;
        transform: translateY(-240px) translateX(0px);
      }
      to {
        opacity: 1;
        scale: 0.78;
        transform: translateY(100px) translateX(-200px);
      }
    }
  }
}
