:root {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  position: relative;
  overflow-x: clip;
}

body {
  background: #fffafa;
  font-family: var(--fontP);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--fontH);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes speen {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

button {
  padding: 0;
  outline: none;
  border: none;
  background: none;
  text-decoration: none;
  color: black;
}

.btn {
  cursor: pointer;
  transition: all 200ms ease;
  &:hover {
    scale: 1.05;
  }
  &:active {
    scale: 0.95;
  }
}

strong {
  filter: brightness(90%);
}
.btn-main {
  border: 4px solid #450920;
  background: url("/b/pt-dot.png"), linear-gradient(to bottom, #f9dbbd, #ffa5ab);
  background-size: 100px, auto;
  font-size: 1.7rem;
  color: #a53860;
  padding: 0.25em 2em;
  display: flex;
  border-radius: 1em;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.15em;
  &:hover {
    box-shadow: 0px 0px 20px #ffa5ab;
  }
  font-weight: bold;
  justify-content: center;
}
.btn-nav {
  background: linear-gradient(to right, #ffffff, #f9dbbd);
  border: 4px solid #450920;
  color: #450920;
  padding: 0.25em 1em;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 0px #450920, 2px 5px 0px #d77189;
  &:hover {
    box-shadow: 0px 7px 0px #450920;
    transform: translateY(-5px);
  }
  &:active {
    box-shadow: 0px 2px 0px #450920;
    transform: translateY(5px);
  }
}
.ctbtn {
  display: flex;
  gap: 1em;
  .btn-nav {
    padding: 0.2;
    width: 60px;

    svg {
      width: 100%;
      height: 100%;
      scale: 1.2;
    }
    padding: 0.75em;
    height: 60px;
  }
}
