#p_guests {
  min-height: 1000px;
  #guest {
    position: relative;
    .wavedec {
      position: absolute;
      left: 0%;
      height: 100%;
      object-fit: contain;
      z-index: -10;
      @media screen and (max-width: 768px) {
        top: 0%;
        max-width: 100%;
      }
    }
    .circ-l {
      width: 1000px;
      height: 1000px;
      border-radius: 50%;
      background:
        url("/b/pt-minidot.png"), linear-gradient(to bottom, #a53860, #ffacac);
      background-size: 10px;
      position: absolute;
      left: 50%;
      bottom: -10%;
      @media screen and (max-width: 768px) {
        opacity: 0.2;
      }
    }
    .confine {
      padding-block: 100px;
      max-width: min(1440px, 90%);
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 2em;
      overflow: hidden;
      align-items: center;
      gap: 200px;

      @media screen and (max-width: 1440px) {
        grid-template-columns: 1fr 2.5fr;
        gap: 50px;
      }
      @media screen and (max-width: 1024px) {
        grid-template-columns: 1fr;
      }
      .l {
        position: relative;

        .title {
          max-width: 300px;
        }
        p {
          color: #d77189;
          font-size: 1.4rem;
          padding-bottom: 1em;
        }
      }
      .r {
        --dur: 20s;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .hz {
          display: flex;
          flex-direction: column;
          height: 800px;
          width: 250px;
          flex-shrink: 0;
          // background: red;
          mask-image: linear-gradient(
            to bottom,
            transparent 0%,
            white 10%,
            white 90%,
            transparent
          );
          padding-inline: 1em;
          @media screen and (max-width: 768px) {
            height: 400px;
            width: 100%;
          }
          .scroll {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            animation: scrollup var(--dur) linear infinite;
            @keyframes scrollup {
              from {
                transform: translateY(0);
              }
              to {
                transform: translateY(-100%);
              }
            }
          }
          .guest {
            margin-block: 1em;
            .pn {
              position: absolute;
              display: none;
            }
            img {
              width: 100%;
              aspect-ratio: 1 / 1;
            }
          }
          transform: translateY(10%);
          &:nth-child(2) {
            transform: translateY(-5%);
            .scroll {
              animation-direction: reverse;
            }
          }
        }
        @media screen and (max-width: 550px) {
          grid-template-columns: 1fr 1fr;
          .hz:nth-child(3) {
            display: none;
          }
        }
      }
    }
  }
  .guest-list {
    display: flex;
    align-items: center;
    max-width: 1800px;
    margin: 0 auto;
    margin-top: 200px;
    flex-direction: column;
    .title {
      margin: 0 auto;
      @media screen and (max-width: 800px) {
        max-width: 80%;
      }
    }
    .gl {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1em;
      flex-wrap: wrap;
      margin: 50px;
      @media screen and (max-width: 420px) {
        margin: 20px 0;
      }
      .guest {
        width: 300px;
        aspect-ratio: 1/ 1;
        border: 3px solid #d77189;
        border-radius: 1em;
        @media screen and (max-width: 550px) {
          width: 160px;
        }
        @media screen and (max-width: 420px) {
          width: 150px;
        }

        &:hover {
          outline: 10px solid #a53860;
          outline-offset: 10px;
          rotate: 2deg;
          scale: 1.1;
          z-index: 10;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
